{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="style.css"/>
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">  
    <h1>Periodismo Ibero</h1>
    <p>{{intro}}</p>
    <p>{{intro2}}</p>
  </div>  
</div>

<div class="container">

  {% for curso in cursos %}
  <p class="curso"><a href="#" data-toggle="modal" data-target="#{{curso.id}}"> 
  <strong>{{curso.name}}</strong></a> | {{curso.profesor}} | {{curso.horario}}</p>
  {% endfor %}
  <hr/>
  <p>{{footer|safe}}</p>
</div>

{% for curso in cursos %}
<div class="modal fade" id="{{curso.id}}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{curso.name}}</h4>
      </div>
      <div class="modal-body">
        <p><strong>Horario:</strong> {{curso.horario}}</p>
        <p><strong>Pre-requisito Plan 2004:</strong> {{curso.requisito1}}</p>
        <p><strong>Pre-requisito Plan SUJ:</strong> {{curso.requisito2}}</p>
        <p><strong>Profesor:</strong> {{curso.profesor}}</p>
        <p><strong>Descripción del curso:</strong> {{curso.descripcion_clase}}</p>
        <p><strong>Clave: </strong> {{curso.clave}}</p>
        
        <div class="row">
          <div class="col-xs-8 col-md-10">
            <p><strong>{{curso.profesor}}</strong> {{curso.semblanza_prof}}</p>
          </div>
          <div class="col-xs-4 col-md-2">
            {% if curso.img %} 
            <img src="img/{{curso.img}}" class="img-responsive"/>   
            {% endif %}
          </div>
        </div>
          
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

{% endfor %}



{% endblock content %}

